<!DOCTYPE html>
<html lang="en" dir="ltr">
  
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/log.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
  <title>Login</title>
</head>

<body>
    <div class"container">
        <div class="row">
            <form id = "form-login" class="col-sm-12  col-lg-12">
                <h1>Login</h1>

                <div class="row">
                    <input type="text" class="form-login col-sm-10 col-lg-10" name = "correo" id="input-correo" placeholder="Ingrese su correo">
                </div>
                <div class="row">
                    <input type="password" class="form-login col-sm-10 col-lg-10" name = "password" id="input-password" placeholder="Ingrese tu contraseña">
                </div>
                <div class="row">
                    <button type="button" id = "submit" class="offset-lg-3 col-sm-4 col-lg-7">Entrar</button>
                </div>
                <div class="row">
                   <button type="button" id = "submit-google" class="offset-lg-3 col-sm-4 col-lg-7"><img id="imgloging"src="../images/btngoogle.png" alt="Google">Google</button>
                </div>
                <div class="row">
                    <button type="button" id = "submit-facebook" class="offset-lg-3 col-sm-4 col-lg-7"><img id="imgloginf"src="../images/btnfacebook.png" alt="Facebook">Facebook</button>
                </div>
                <div class="row">
                  <p class="offset-lg-3 col-sm-4 col-lg-6">¿No tienes una cuenta?<a href="view1.html">¡Registrate!</a></p>
                </div>
            </form>
        </div>
    </div>
        

  <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-messaging.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-functions.js"></script>
  <script src="../js/login.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>

</html>