<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
    <header class="row">
        <div class="navbar-fixed">
            <nav class="lighten-3 pink darken-1 row color-nav">
                <div class="nav-wrapper col s12">

                    <button id="btnHome" class="btn-flat col s1 offset-s1 white-text">
                        <i class="large material-icons">home</i>
                    </button>
                    <button id="btnProfile" class="btn-flat col s1 offset-s2 white-text">
                        <i class="large material-icons">person</i>
                    </button>
                    <button id="btnMessage" class=" btn-flat col s1 offset-s2 white-text">
                        <i class="large material-icons">chat</i>
                    </button>
                    <button id="btnLogout" class=" btn-flat col s1 offset-s2 white-text">
                        <i class="large material-icons">exit_to_app</i>
                    </button>
                </div>
            </nav>
        </div>
    </header> 
    <section class="container">
        <div>
            <textarea rows="4" cols="50" name="comment" form="usrform">
                Enter text here...
            </textarea>
            <input type="button" id="btnEdit" class="btnEdit" value="Editar">
            <a class="btn disabled col s12">Nuevo mensaje</a>
        </div>

    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
    <script src="../js/firebase.js"></script>
    <script src="../js/home.js"></script>
    <script src="../js/logout.js"></script>
</body>
</html>
