<!DOCTYPE html>
<html lang="es">

<head>
	<title>GarnachApp</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body>

	<div class="container">
		    <div class="row">
				<form class="login-form">
					<div class="login-title col-sm">
						GARNACHAPP
					</div>
					<div>
						<input id="email-field" class="input" type="text"  placeholder="Usuario">
					</div>
					<div>
						<input id="password-field" class="input" type="password" placeholder="Contraseña">
					</div>
					<div class="col-sm btn-box">
						<button id="new-account-button" class="btn btn-dark">
							Registrarme
						</button>
					</div>
				<div class="row welcome-box">
				  <section class="welcome">
					<div class="welcome-text">
						<h1>¡BIENVENIDX A GARNACHAPP!</h1>
						<p>Registrate y encuentra tu garnacha ideal</p>
					</div>
				  </section>
				</div>		
			</div>	
		<footer class="modal-footer">
			<p>GarnachApp</p>
			<p>Hecho por Copelia, Vianey, Palmidia</p>
    </footer>
    
  <!-- Adding Firebase -->
  <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
  <script src="../js/index.js"></script>
  <script src="../js/newAccount.js"></script>
</body>

</html>
=======
        <div class="container-fluid">
                <div class="row">	
                  <div class="login-form col-sm-8">  
                      <form>
                              <div class="login-title">
                                  GARNACHAPP
                              </div>
                              <div>
                                  <input id="email-field" class="input" type="text"  placeholder="Usuario">
                              </div>
                              <div>
                                  <input id="password-field" class="input" type="password" placeholder="Contraseña">
                              </div>
                              <div class="w-100"></div>	
                              <div class="btn-box col-sm">
                                  <button id="new-account-button" class="btn btn-dark">
                                      REGISTRARME
                                  </button>
                                </div>	
                          </form>	
                      </div>
                  <div id="imagen-welcome" class="col-sm-2">			
                        <div class="welcome">
                          <div class="welcome-text">
                              <h1>¡BIENVENIDX A GARNACHAPP!</h1>
                              <p>Regístrate Fácilmente</p>
                          </div>
                      </div>	
                  </div>	
              </div>
              </div>		
                  <footer class="modal-footer">
                      <p>Desarrollada por Copelia, Vianey, Palmidia</p>
                  </footer>
              
          
          
          
            <!-- Adding Firebase y Firestore -->
            <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
            <!--<script src="https://www.gstatic.com/firebasejs/5.2.0/firebase-firestore.js"></script>-->
            
          
            <script src="js/index.js"></script>
            <script src="js/newAccount.js"></script>
          </body>
          
          </html>