<!DOCTYPE html>
<html lang="es">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Comunidad</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../css/newpost.css">

</head>

<!-- la clase container nos limita a un espacio-->

<div class="container">
  <header>
    <br>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">Comunidad</a>
        <form class="form-inline">
          <button id="signout" class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-sign-out-alt"></i>Sign-Out</button>
        </form>
      </nav>
  </header>
</div>
  <section id="user-profile">
      <div class="container-fluid mt-6 text-center">
        <div class="row">
          <div class="span3">
            <div class="card">
              <img class="card-img-top" id="user-image">
              <div class="card-body text-center">
                <p class="card-text">
                  Bienvenidx!!
                  <br>
                  <i class="fas fa-user"></i>
                  <strong id="user-name"></strong>
                </p>
                <p>
                    <i class="fas fa-at"></i>
                  <span id="user-email"></span>
                </p>
                <p class="card-text" id="presentacion">Info contacto</p>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="card mb-5 border-secondary mt-3 mt-md-0">
              <div class="card-body">
                <form class="form-inline">
                  <input id="content-post" class="form-control" placeholder="Escribe una publicación"></input>
                  <div class="ml-auto">
                    <button type="submit" class="btn btn-block mt-4" id="send-post">
                        <i class="fas fa-check-circle"></i>
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div id="list-of-post"></div>
          </div>
        </div>
      </div>
  </section>
  <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
    crossorigin="anonymous"></script>
  <script src="../js/login.js"></script>
  <script src="../js/newpost.js"></script>
</body>

</html>