<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SHEro</title>

    <!-- Firebase App is always required and must be first -->
    <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-app.js"></script>

    <!-- Add additional services that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-firestore.js"></script>

    <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
</head>

<body>
    <div id="content">
        <section id="oldUser">
            <input type="text" placeholder="Ingresa tu email" id="email">
            <input type="password" placeholder="Ingresa tu contraseña" id="password">
            <button id="logIn">Iniciar sesion</button>
        </section>
    </div>
    <script src="../js/sessions.js"></script>
    <script src="../js/oldUsers.js"></script>
</body>

</html>