<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Perfil</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
  <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
  <header class="row">
    <div class="navbar-fixed">
      <nav class="lighten-3 pink darken-1 row color-nav">
        <div class="nav-wrapper col s12">

          <button id="btnHome" class="btn-flat col s1 offset-s1 white-text">
            <i class="large material-icons">home</i>
          </button>
          <button id="btnProfile" class="btn-flat col s1 offset-s2 white-text">
            <i class="large material-icons">person</i>
          </button>
          <button id="btnMessage" class=" btn-flat col s1 offset-s2 white-text">
            <i class="large material-icons">chat</i>
          </button>
          <button id="btnLogout" class=" btn-flat col s1 offset-s2 white-text">
            <i class="large material-icons">exit_to_app</i>
          </button>
        </div>
      </nav>
    </div>
  </header>
  <section class="row container" id="profile">
    <div class="row">
      <div>
        <div id="photo"></div>
        <span class="letra-usuario" id="dataName"></span>
      </div>
    </div>
    <hr>
    <div class="row">
      <div>
        <div class="col s2 m2 l1">
          <i class="tiny material-icons">location_on</i>
        </div>
        <div>
          <span>Ciudad de México</span>
        </div>
      </div>
      <div>
        <div class="col s2 m2 l1">
          <img src="../images/bee_baja.png" class="abeja" alt="abeja">
        </div>
        <div>
          <span>Mamá de Juan y María</span>
        </div>
      </div>
      <div>
        <div class="col s2 m2 l1">
          <i class="tiny material-icons">favorite</i>
        </div>
        <div>
          <span>Me encanta bailar y cocinar.</span>
        </div>
      </div>
    </div>
    <hr>
    <div class="col s12" id="postForm">
      <!-- <h4 id="dataName"></h4> -->
      <div class="input-field col s12">
        <input type="text" id="postText" placeholder="Palabras y pensamientos de mamá">
        <input type="button" id="btnPost" class="btn light-green" value="Publicar">
      </div>
    </div>
  </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
    <script src="../js/firebase.js"></script>
    <script src="../js/home.js"></script>
    <script src="../js/logout.js"></script>
  </body>
  </html>
