<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Profile</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <nav>
    <div class="nav-wrapper light-green">
      <div href="#!" id="brand-logo2" class="brand-logo">Greener</div>
      <!--Este boton aparece cuando se reduce la resolución-->
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="profile.html">
            <i class="material-icons">account_circle</i>
          </a>
        </li>
        <li>
          <a href="view1.html">
            <i class="large material-icons">home</i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div>
        <p> </p>
  </div>
  
</body>
</html>
