<!DOCTYPE html>
<html lang="
" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>

    <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>

    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyCjN9x4Q4B8Nx5xf1ZoKLpWn4mTPiuuC3c",
        authDomain: "red-social-19985.firebaseapp.com",
        databaseURL: "https://red-social-19985.firebaseio.com",
        projectId: "red-social-19985",
        storageBucket: "red-social-19985.appspot.com",
        messagingSenderId: "169924096887"
      };
      firebase.initializeApp(config);
    </script>
  </body>
</html>
