<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <div class="container">
      <header id ="welcome"></header>
      <form action="">
        <section class="row">
            <label for="name" id="name" class="offset-lg-3 col-sm-3 col-lg-2">Nombre</label> 
        </section>
        <section>
            <input type="text" id="namePost"class="offset-lg-3 col-sm-3 col-lg-2">
        </section>
        <section class="row">
            <label for="message" class="offset-lg-3 col-sm-10 col-lg-6">Mensaje</label>
        </section>
        <section class="row">
          <textarea id="messagePost" class="offset-lg-3 col-sm-10 col-lg-6"></textarea>
        </section>
        <section class="row">
          <button type="button" id="btnPost" class="offset-lg-7 col-sm-10 col-lg-2">Publicar</button>
        </section>
        </form>
        <section>
          <ul id="chat">
          </ul>
        </section>
        <section class="row">
            <button type="button" id="btnLogout" class="offset-lg-4 col-sm-10 col-lg-2">Cerrar Sesión</button>
        </section>
  </div>
  <!--Botón de Facebook-->
  <section>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.1';
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <div class="fb-like" data-href="https://www.facebook.com/Fighting-together-261213907937767/?modal=admin_todo_tour" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
  </section>
  
  <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
  <script src="../js/timeline.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>
</html>