<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>zoryaColect</title>
  </head>
  <body>
    <div id="draw-name">

    </div>
    <div>
      <form>
        <input type="button" value="Cerrar sesión" id="close"> 
      </form>
    </div>
    <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyBmvR-XICKHnSpAsppIMfCA9vfE3lT3yBU",
        authDomain: "feminismi-6e40a.firebaseapp.com",
        databaseURL: "https://feminismi-6e40a.firebaseio.com",
        projectId: "feminismi-6e40a",
        storageBucket: "feminismi-6e40a.appspot.com",
        messagingSenderId: "638405712713"
      };
      firebase.initializeApp(config);
    </script>
    <script src="../js/authen.js"></script>
    <script src="../js/database.js"></script>
  </body>
</html>