<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <title>Registro</title>
</head>
<body>
  <form class="col-sm-8 mt-4">
    <h2 class="text-center">Registro</h2>
    <div class="form-group">
      <label for="exampleInputEmail1">Email</label>
      <input type="email" class="form-control" id="mail" aria-describedby="emailHelp" placeholder="Ingresa tu email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password">
      <p id="wrongPass"></p>
    </div>
    <button type="button" class="btn btn-success" id="btnRegistro" >Registrar</button>
  </form>

  <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
  <script src="../js/index.js" ></script>
  <script src="../js/login.js" ></script>
</body>
</html>
