<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Runneat</title>
      <link rel="shortcut icon" href="/views/imagenes/running.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href=../css/main.css>
  <!-- Chart.js -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
   <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js" integrity="sha256-J2sc79NPV/osLcIpzL3K8uJyAD7T5gaEFKlLDM18oxY=" crossorigin="anonymous">
 </head>
<!--Parte de el logo-->
    <div id="row" class="row">
      <div id="topLOGO" class="col"> ...
      </div>
      <div id="topLOGO" class="col-6">...
      </div>
      <div id="topLOGO" class="col">...
      </div>
    </div>
  <div id="row1" class="row">
    <div id="topLOGO" class="col"> ...
    </div>
    <div id="topLOGO" class="col">...
    </div>
    <div id="topLOGO" class="col">...
    </div>
  </div>
  <body>
    <!--parte del perfil-->
<input id="btnLogOut" value="salir"></input>

    <div id="row2" class="row">
      <div class="col">
        <div class="card" style="width:400px">
    <img class="card-img-top" src="http://cdn.c.photoshelter.com/img-get/I0000LrKQSGS9aXE/s/750/750/Woman-runner.jpg" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">Diane Prince</h4>
      <p class="card-text">27 años <br>
      Ciudad de México <br>
      Actividades favoritas: <br>
      Runner, basquetball, soccer <br>
      Intereses: <br>
      "Me interesa encontrar personas con las cuales salir a correr y compartir direcciones de lugares sanos para comer" </p>
    </div>
    <!--amigos -->
    <div class="container">
  <h2>Amigos</h2>

  <div class="card" style="width:200px">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwd9SrOmmzSGXTLgsXucjUo3yiDo6KLssb8H-nDftBy2NPhYsh" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Billy Batson</h4>
      <p class="card-text">23 AÑOS, CDMX</p>
      <a href="#" class="btn btn-primary">Ver perfil</a>
    </div>
  </div>