*{
  margin: 0px;
  padding: 0px;
}

#carouselExampleIndicators{
  margin-top: 20px;
}

nav{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#log-in{
  width: 135px;
  margin: 10px 0px 10px 10px;
  height: 30px;
  background: #3c3c3c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3c3c3c 1%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #2a2828 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3c3c3c 1%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #2a2828 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3c3c3c 1%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #2a2828 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#2a2828', GradientType=0);
  /* IE6-9 */
  border: 1px solid #232323;
  color: #fff;
  box-shadow: 0px 2px 0px #000;
  -moz-box-shadow: 0px 2px 0px #000;
  -webkit-box-shadow: 0px 2px 0px #000;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#log-in:hover {
  background: #3a3a3a;
}

#log-in:active {
  background: #2a2828;
  /* Old browsers */
  background: -moz-linear-gradient(top, #2a2828 0%, #1c1c1c 9%, #2b2b2b 24%, #111111 40%, #000000 49%, #2c2c2c 50%, #474747 61%, #666666 75%, #595959 88%, #3c3c3c 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #2a2828 0%, #1c1c1c 9%, #2b2b2b 24%, #111111 40%, #000000 49%, #2c2c2c 50%, #474747 61%, #666666 75%, #595959 88%, #3c3c3c 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #2a2828 0%, #1c1c1c 9%, #2b2b2b 24%, #111111 40%, #000000 49%, #2c2c2c 50%, #474747 61%, #666666 75%, #595959 88%, #3c3c3c 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2828', endColorstr='#3c3c3c', GradientType=0);
  /* IE6-9 */
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  background-color: #FFCC78;
}

#sign-up{
  width: 135px;
  margin: 10px 0px 20px 20px;
  height: 30px;
  background: #3c3c3c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3c3c3c 1%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #2a2828 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3c3c3c 1%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #2a2828 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3c3c3c 1%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #2a2828 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#2a2828', GradientType=0);
  /* IE6-9 */
  border: 1px solid #232323;
  color: #fff;
  box-shadow: 0px 2px 0px #000;
  -moz-box-shadow: 0px 2px 0px #000;
  -webkit-box-shadow: 0px 2px 0px #000;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#sign-up:hover {
  background: #3a3a3a;
}

#sign-up:active {
  background: #2a2828;
  /* Old browsers */
  background: -moz-linear-gradient(top, #2a2828 0%, #1c1c1c 9%, #2b2b2b 24%, #111111 40%, #000000 49%, #2c2c2c 50%, #474747 61%, #666666 75%, #595959 88%, #3c3c3c 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #2a2828 0%, #1c1c1c 9%, #2b2b2b 24%, #111111 40%, #000000 49%, #2c2c2c 50%, #474747 61%, #666666 75%, #595959 88%, #3c3c3c 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #2a2828 0%, #1c1c1c 9%, #2b2b2b 24%, #111111 40%, #000000 49%, #2c2c2c 50%, #474747 61%, #666666 75%, #595959 88%, #3c3c3c 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2828', endColorstr='#3c3c3c', GradientType=0);
  /* IE6-9 */
}

section{
  margin-top: 10px;
}

#messagePost{
  height: 150px;
  width: 150px;
}

#btnPost{
  width: 135px;
  margin: 10px 0px 20px 20px;
  height: 30px;
  background: #3c3c3c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3c3c3c 1%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #2a2828 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3c3c3c 1%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #2a2828 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3c3c3c 1%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #2a2828 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#2a2828', GradientType=0);
  /* IE6-9 */
  border: 1px solid #232323;
  color: #fff;
  box-shadow: 0px 2px 0px #000;
  -moz-box-shadow: 0px 2px 0px #000;
  -webkit-box-shadow: 0px 2px 0px #000;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#btnPost:hover {
  background: #3a3a3a;
}

#btnPost:active {
  background: #2a2828;
  /* Old browsers */
  background: -moz-linear-gradient(top, #2a2828 0%, #1c1c1c 9%, #2b2b2b 24%, #111111 40%, #000000 49%, #2c2c2c 50%, #474747 61%, #666666 75%, #595959 88%, #3c3c3c 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #2a2828 0%, #1c1c1c 9%, #2b2b2b 24%, #111111 40%, #000000 49%, #2c2c2c 50%, #474747 61%, #666666 75%, #595959 88%, #3c3c3c 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #2a2828 0%, #1c1c1c 9%, #2b2b2b 24%, #111111 40%, #000000 49%, #2c2c2c 50%, #474747 61%, #666666 75%, #595959 88%, #3c3c3c 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2828', endColorstr='#3c3c3c', GradientType=0);
  /* IE6-9 */
}

#btnLogout{
  width: 135px;
  margin: 10px 0px 20px 20px;
  height: 30px;
  background: #3c3c3c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3c3c3c 1%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #2a2828 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3c3c3c 1%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #2a2828 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3c3c3c 1%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #2a2828 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#2a2828', GradientType=0);
  /* IE6-9 */
  border: 1px solid #232323;
  color: #fff;
  box-shadow: 0px 2px 0px #000;
  -moz-box-shadow: 0px 2px 0px #000;
  -webkit-box-shadow: 0px 2px 0px #000;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#btnLogout:hover {
  background: #3a3a3a;
}

#btnLogout:active {
  background: #2a2828;
  /* Old browsers */
  background: -moz-linear-gradient(top, #2a2828 0%, #1c1c1c 9%, #2b2b2b 24%, #111111 40%, #000000 49%, #2c2c2c 50%, #474747 61%, #666666 75%, #595959 88%, #3c3c3c 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #2a2828 0%, #1c1c1c 9%, #2b2b2b 24%, #111111 40%, #000000 49%, #2c2c2c 50%, #474747 61%, #666666 75%, #595959 88%, #3c3c3c 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #2a2828 0%, #1c1c1c 9%, #2b2b2b 24%, #111111 40%, #000000 49%, #2c2c2c 50%, #474747 61%, #666666 75%, #595959 88%, #3c3c3c 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2828', endColorstr='#3c3c3c', GradientType=0);
  /* IE6-9 */
}