/* Utilizar todo el body 100% */
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}
.container-fluid {
  min-height: 100%;
  background: #61c4e3;
}

#buttons{
  margin-top: 5px;
  padding-right: 0;
  color: #EB656A;
}

#profilePicture {
  min-width: inherit;
  min-height: inherit;
  background: #EB656A;
  position: relative;
  margin-top: 20px;
  padding-top: 10px;
}

#profileBack{
  min-height: inherit;
  background: #ffffff;
  position: relative;
  margin-top: 10px;
}

#profileContent {
  position: relative;
  /* height: 100%; */
  margin-top: 0px;

}

#navbar {
  /* z-index: 1000; */
  /* width: 100%;*/
  /* padding-top: 10px;
  padding-bottom: 0px; */
  background-color: #EB656A;
  margin-bottom: inherit;
  /* clear: both; */
}

#navbar a {
  text-align: center;
}
