#user-content-post {
    background: #D2B4DE  ;
    width: 80%;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #FAD7A0;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 10px;
}

.bg-dark {
    background-color:#F39C12!important;
}

.card-img-top {
    width: 35%;
    border-radius: 10%;
 }

 .card-header1 {
    background-color: #F7DC6F;
    padding: 8%;
}

