#user-content-post {
    background: #D2B4DE  ;
    width: 80%;
    

}
.bg-dark {
    background-color:#F39C12!important;
}

.card-img-top {
    width: 35%;
    border-radius: 10%;
 }

 card-header1 {
    background-color: #F7DC6F;
    padding: 8%;
}

