body{
	background-image: white;
	background-repeat: no-repeat;   /* no repite la imagen*/
	position: static;
}

.logo-bim {
	display:block;
  margin:auto;
	height: 150px;
	width: 150px;
	margin-top:10px;
}

h2 {
	font-family: 'Gochi Hand', cursive;
	text-align: center;
	margin-top:10px;
}


#loginform{
	margin-top:40px;   /*margen superior*/
  margin-left:auto;   /*margen izquierdo*/
  margin-right:auto;  /*margen derecho*/
	width:335px;       /*ancho*/
}

.input{
	width:270px;  /*ancho*/
    padding:15px 25px;  /*ancho y alto de las cajas de texto*/
		font-family: 'Montserrat', sans-serif;  /*tipo de letra*/
	background: #f5f5f5;  /*color de fondo de la caja de texto a un blanco un poco mas gris*/
	border:none;  /*con esta propiedad se quita el borde por defecto*/
	border-radius: 10px; /*se le asigna un angulo a cada esquina del imput*/
	color: #333;
	font-size: 14px;  /*tamaño de la letra*/
	margin-top:15px;  /*margen que existe entre cada imput*/
}

.btncolor{	/*background-color: #C70039;*/
	width:320px; /*ancho del boton*/
	border-radius: 10px;
	color:#F4F6F7;
}


.face {
	font-size: 40px;
	background-color: #1661EE;
	color:#F4F6F7;
	display:inline-flex;
}

.google {
	font-size: 35px;
	background-color: #D10202;
	color:#F4F6F7;
	display:inline-flex;
}

.loginbutton {
	/* background-color:#ffdd00; /*color del boton iniciar sesion*/
	display:inline-block;
	font-family: 'Montserrat', sans-serif;
	font-weight:bold; /*permite que la letra sea gruesa*/
	text-align:center; /*centra el texto dentro del boton*/
	line-height:50px;
	text-decoration:none;
	height:50px;   /*alto del borde*/
	margin-top:20px;  /*margen superior entre el input y el boton*/
	margin-bottom:5px;
	border:none;
	outline:0; /*contorno*/
}

.gradient {
	background: linear-gradient(to right, #ee6e73, #ee6eb4);
}

.gradient:hover {
	background: linear-gradient(to right, #F1C40F, #F1C40F);
}

.none {
	display: none;
}

.inline {
	display: inline-block;
}

/* botones Facebook y google circulares */
.boton{
  width:60px;
  height:55px;
  border-radius: 50px;
	color: #F4F6F7;
  font-weight: 600; /*grosor de la letra*/
	border:none;
	outline:0; /*contorno*/
	text-align: center;
	display:inline-block;
}

.boton:hover{
  background-color:#F1C40F;
	/* position:relative; */
}

/*Estilos para el muro home.html*/
.nav-color{
	background-color: #1661EE;
}

.foto-perfil{
	height: 100px;
	width: 100px;
}
.letra-usuario{
	font-size: 2em;
}
.abeja{
	height: 15px;
	width: 15px;
}

.tamaño-barra{
	border-radius: 5px;
	height: 20px;
	background-color: gainsboro;
}
.tamaño-letra{
	font-size: 1.5em;
	font-family: 'Montserrat', sans-serif;
}

.margin-left{
	margin-left: 6rem;
}
