* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}
#container {
  min-height: 100%;
}

/* Botones de Unirse e INICIO */

#footer a {
    width:48%;
    padding-top: 30px;
    color: #fff;
    text-decoration: none;
    background-color: black;
    -webkit-text-decoration-skip: objects
  }

#footer a:hover{
  color: #e600ac;
}

#footer a:active{
  color: #FE2E2E;
}

/* Menú footer */
#footer{
  background-color: #000;
  position: relative;
  height: 100px;
  margin-top: -100px;
  clear: both;
}
img{
  opacity: 0.9;
  filter: alpha(opacity=90);
  max-width: 100%;
  height: auto;
  border-radius: 30px;
}
body{
  background: #ffffff;
}
p {
  font-family : 'Lora' , serif ;
  font-size: 30px ;
  text-align: center;
  color: #e600ac;
}
h1{
  color: #e600ac;
}
